html{
    padding: 0;
    margin: 0;
}

.ritika23 {
  font-family: Helvetica;
  -webkit-animation: pulse 10s infinite;
  animation: pulse 10s infinite;
 z-index: 0; 
}

@-webkit-keyframes pulse {
  0% {
    background: #f44336;
  }
  25% {
    background: #e91e63;
  }
  50% {
    background: #9c2780;
  }
  75% {
    background: #673ab7;
  }
  100% {
    background: #f44336;
  }
}

@keyframes pulse {
  0% {
    background: #f44336;
  }
  25% {
    background: #e91e63;
  }
  50% {
    background: #9c2780;
  }
  75% {
    background: #673ab7;
  }
  100% {
    background: #f44336;
  }
}

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transform: translateZ(0);
}

.bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -100px;
  animation: circle 15s infinite;
  transition-timing-function: linear;
}

.bubbles li:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 20%;
}

.bubbles li:nth-child(2) {
  width: 60px;
  height: 60px;
  left: 40%;
  animation-delay: 2s;
  animation-duration: 16s;
}

.bubbles li:nth-child(3) {
  width: 30px;
  height: 30px;
  left: 60%;
  animation-delay: 4s;
  animation-duration: 13s;
}

.bubbles li:nth-child(4) {
  width: 80px;
  height: 80px;
  left: 80%;
  animation-delay: 1s;
  animation-duration: 19s;
}

.bubbles li:nth-child(5) {
  width: 50px;
  height: 50px;
  left: 50%;
  animation-delay: 5s;
  animation-duration: 12s;
}

.bubbles li:nth-child(6) {
  width: 25px;
  height: 25px;
  left: 10%;
  animation-delay: 3s;
  animation-duration: 11s;
}

.bubbles li:nth-child(7) {
  width: 55px;
  height: 55px;
  left: 70%;
  animation-delay: 2.5s;
  animation-duration: 11s;
}

.bubbles li:nth-child(8) {
  width: 75px;
  height: 75px;
  left: 30%;
  animation-delay: 3.5s;
  animation-duration: 11s;
}

@keyframes circle {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1080px) rotate(800deg);
    transform: translateY(-1080px) rotate(800deg);
  }
}



/* splash screen css starts here  */
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #e4eff2;
    z-index: 99999;
}
/* splash screen css ends here  */

/* navbar css starts here  */
.bg-light{
 
    
}
.logo{
    height: 250px;
    width:100px;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #5f6368!important;
}

.nav-link{
    color: #5f6368!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #f3f1f1;
}
/* navbar css ends here  */

/* here content css starts here  */
.hero-content{
    height: 100vh;
   
    color: #ffffff;
    padding: 3rem;
    border-bottom-left-radius: 45rem;
    border-bottom-right-radius: 45rem;
    margin-bottom: 1vh;
}

.hero-img{
    height: 70vh;
    width: 100%;
}

@media only screen and (max-width: 766px) {
    .hero-img {
      display: none;
    }
}

.get-started{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #fff;
    color: #039be5!important;
    transition: 0.3s;
}

.get-started:hover{
    text-decoration: none;
    background-color: #bfdff0;
    
}
/* here content css starts here  */

/* get-started-buttons css starts here*/
.get-started-content{
    height: 60vh;
    background-color: #ff8a65;
    border-top-left-radius: 42rem;
    border-top-right-radius: 42rem;
    border-bottom-right-radius: 42rem;
    border-bottom-left-radius: 42rem;
}

.get-started-content .row{
    padding: 25vh 0;
}

.get-started-content a{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #039be5;
    color: #fff!important;
    transition: 0.3s;
}

.get-started-content a:hover{
    background-color: #017ab6;
    text-decoration: none;
}
/* get-started-buttons css end here*/

.Card{
  position:relative;
  text-align:center;
  width:280px;
  height:300px;
  border-radius:74% 82% 70% 88%;
  display:table;
  padding:20px;
  background-image: url('../images/cloud5.png');
  cursor:pointer;
  z-index:1;
  transition:.5s;
  color:black;
  margin-top:50px;

}
.Card:before,
.Card:after{
  content:'';
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:-1;
  animation:RotateDiv 5s linear infinite;
  color:white;
}
.Card:before{
  border-radius:130% 151% 189% 166%;
  background-color:rgba(255,255,255,.7);
  animation-delay:0s;
  transition:.5s;


}
.Card:after{
  border-radius:145% 86% 80% 90%;
  background-color:rgba(255,255,255,.3);
  animation-delay:.2s;
  transition:.5s;
}
.Card:hover{
  background-color:lightpink;
  color:white;

}

.Card:hover:after{
  background-color:pink;
  color:white;
  
}
.Card:hover:before{
  background-color:#902059;
 color:white;
 
}
.Card div{
  display:table-cell;
  vertical-align:middle;
}

 .Card div:hover
 { color:;
 } 

.Card div h4{
  
font-family: Ubuntu;
  font-size:25px;
}

.Card div h6{
  font-family: Ubuntu;
    margin-top:20px;
  font-size:18px;
}
.Card span{
  margin-top:20px;
  font-size:18px;
}

@keyframes RotateDiv{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}
/* footer css starts here */
footer{
    background-color:  #f2e9e4;
}

.social-icons li{
    list-style: none;
    display: inline;
    padding: 0.5rem;
}

.github{
    color: #24292e;
}

.linkedin{
    color: #0077b5;
}

.google{
    color: #D44638;
}
/* footer css ends here  */